/* styles.css */

body {
    font-family: 'Consolas', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
    overflow: auto;
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    animation: gradientAnimation 15s ease infinite;
    z-index: -5;
    background: rgb(70,179,11);
    background: radial-gradient(circle, rgba(70,179,11,1) 0%, rgba(0,214,116,1) 46%, rgba(0,212,255,1) 100%);
}


@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



.card {
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 90%; /* Aggiunto per centrare */
    margin: 0 auto; /* Aggiunto per centrare */
    text-align: center; /* Aggiunto per centrare */
    padding: 24px;
}


.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    border: 1px solid rgba(55, 0, 179, 0.1);
    background-color: rgba(55, 0, 179, 1);
    color: #fff;
    text-decoration: none;
    border-radius: 40px;
    transition: background-color 0.3s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.btn i.material-icons {
    margin-right: 8px;
}

.btn:hover {
    background-color: #3700b3;
}

.profile-image {
    margin-top: 20px; /* Aggiunge spazio sopra l'immagine */
    margin-left: 20px; /* Aggiunge spazio a sinistra dell'immagine */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 4px solid #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    object-fit: cover;
    z-index: 2;
}

.container {
    justify-content: center;
    width: 100%;
    z-index: 1;
    text-align: center;
    align-items: center;
}